<!DOCTYPE html>
<html>

<head>
   <title>
      <%= title %>
   </title>
   <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
   <link rel="stylesheet" href="css/about.css" />
</head>

<body>
   <%- include("./nav.ejs") %>
      <div class="container" >
          <img src="img/people.jpg" class="people_img"> 
         <h2>About Me</h2>
         <h3>Awards</h3>
         <ul>
           <li>The third prize of oral English in Jiangsu Vocational College Skill Contest</li>
           <li>The third prize of "China Education Television • FLTRP Cup" Speech Contest of Workplace English Challenge (Jiangsu Region)</li>
           <li>The third prize of "China Education Television • FLTRP Cup" Speech Contest of Workplace English Challenge (Jiangsu Region)</li>
           <li>"China Education Television • FLTRP Cup" Workplace English Challenge Speech Contest (online competition) special prize</li>
           <li>"China Education Television • FLTRP Cup" Workplace English Challenge Speech Contest (online competition) special prize</li>
           <li>Second prize in the Speech Contest of "China Education Television • FLTRP Cup" Workplace English Challenge (National final)</li>
           <li>2023 Provincial "Three Good Students" in Jiangsu Colleges and Universities</li>
           <li>Won the university scholarship and discipline competition scholarship for many times</li>
            <li>Party member development target</li>
         
         </ul>
         <h3>Educational Background</h3>
         <p>College junior student of CC International Class at Centennial Institute of Technology (Suzhou Campus), Canada
         The course is taught by foreign teachers in English, and Suzhou University of Science and Technology cooperates with Centennial Institute of Technology in Canada<br>
         <b>Major:</b> SET (software engineering technician)<br>
         <b>GPA:</b> 3.9/4.5</p>
         <h3> Professional Skill</h3>
         <ul>
            <li>Fluent oral English </li>
            <li>Ielts 6.0 </li>
            <li>Skilled use of Office computer </li>
            <li>Programming language: Python, c #, Java, JavaScript</li>
            <li>Manuscript written in both Chinese and English</li>
            </ul>
         <h3>Communication Ability</h3>
         <p>I am cheerful, active thinking, MBTI is ENTP, good at dealing with interpersonal relations, know how to team work, teachers and classmates praise.</p>
         <a href="/download" class="btn btn-primary">Download my resume</a>
      </div>



</body>

</html>