<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="css/about.css" />
</head>

<body>
    <%- include("./nav.ejs") %>
        <div class="container" >
            <h2>Contact Me</h2>
           
            <form action="/" method="get">
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control">
                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Contact Number:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">First Name:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Last Name:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Message:</label>
                    <textarea class="form-control" id="comment" name="text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <img src="img/contact-me.gif">
        </div>



</body>

</html>